In [ ]:
# Pandas: Biblioteca de Código Aberto

In [1]:
import pandas as pd
nomes = ['Ana', 'Bruno','Carla']
idades = [21, 20, 22]
dados = list(zip(nomes, idades))
print(dados)
df = pd.DataFrame(data = dados)
print(df)

[('Ana', 21), ('Bruno', 20), ('Carla', 22)]
       0   1
0    Ana  21
1  Bruno  20
2  Carla  22

In [2]:
import pandas as pd
identidade = {'Nome': ['Ana', 'Bruno', 'Carla'],
         'Idade': [21, 20, 22]}
df = pd.DataFrame(data = identidade)
print(df)

    Nome  Idade
0    Ana     21
1  Bruno     20
2  Carla     22

In [3]:
import pandas as pd
dados = [('Ana', 21), ('Bruno', 20), ('Carla', 22)]
colunas = ['Nome', 'ID']
linhas = ['A', 'B', 'C']
df = pd.DataFrame(data = dados, columns = colunas, index = linhas)
print(df)
print(list(df.index))
print(list(df.columns))
print(df.ndim)
print(df.shape)
print(df.size)
print(df.empty)

    Nome  ID
A    Ana  21
B  Bruno  20
C  Carla  22
['A', 'B', 'C']
['Nome', 'ID']
2
(3, 2)
6
False

In [ ]:
# DataFrame: Quadro de Dados

In [ ]:
# Manipulação de Dados: